.AuthenticationApp {
    display: flex;
    justify-content: center;
}

h1, p {
    text-align: center;
}

button, a, label, input {
    display: block;
    width: 100%;
}

section {
    width: 350px;
    margin-top: 3rem;
}
